In [81]:
import pandas as pd
import numpy as np
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import inspect

from sqlalchemy import create_engine, func

engine = create_engine('sqlite:///../data/Aquastat.sqlite')

Base=automap_base()
Base.prepare(engine, reflect = True)
inspector = inspect(engine)
inspector.get_table_names()
session=Session(engine)
conn = engine.connect()

In [97]:
data=conn.execute('SELECT country, dependency_ratio FROM Aquastat').fetchall()

In [102]:
df=pd.DataFrame().from_records(data, columns=[['country','dependency_ratio']])

In [103]:
df

                                country  dependency_ratio
0                           Afghanistan           28.7200
1                           Afghanistan           28.7200
2                           Afghanistan           28.7200
3                           Afghanistan           28.7200
4                           Afghanistan           28.7200
5                               Albania           10.9300
6                               Albania           10.9300
7                               Albania           10.9300
8                               Albania           10.9300
9                               Albania           10.9300
10                              Algeria            3.5990
11                              Algeria            3.5990
12                              Algeria            3.5990
13                              Algeria            3.5990
14                              Algeria            3.5990
15                              Andorra               NaN
16                              Andorra               NaN
17                              Andorra               NaN
18                              Andorra               NaN
19                              Andorra               NaN
20                               Angola            0.2695
21                               Angola            0.2695
22                               Angola            0.2695
23                               Angola            0.2695
24                               Angola            0.2695
25                  Antigua and Barbuda            0.0000
26                  Antigua and Barbuda            0.0000
27                  Antigua and Barbuda            0.0000
28                  Antigua and Barbuda            0.0000
29                  Antigua and Barbuda            0.0000
..                                  ...               ...
970                             Vanuatu            0.0000
971                             Vanuatu            0.0000
972                             Vanuatu            0.0000
973                             Vanuatu            0.0000
974                             Vanuatu            0.0000
975  Venezuela (Bolivarian Republic of)           39.2500
976  Venezuela (Bolivarian Republic of)           39.2500
977  Venezuela (Bolivarian Republic of)           39.2500
978  Venezuela (Bolivarian Republic of)           39.2500
979  Venezuela (Bolivarian Republic of)           39.2500
980                            Viet Nam           59.3500
981                            Viet Nam           59.3500
982                            Viet Nam           59.3500
983                            Viet Nam           59.3500
984                            Viet Nam           59.3500
985                               Yemen            0.0000
986                               Yemen            0.0000
987                               Yemen            0.0000
988                               Yemen            0.0000
989                               Yemen            0.0000
990                              Zambia           23.4700
991                              Zambia           23.4700
992                              Zambia           23.4700
993                              Zambia           23.4700
994                              Zambia           23.4700
995                            Zimbabwe           38.7000
996                            Zimbabwe           38.7000
997                            Zimbabwe           38.7000
998                            Zimbabwe           38.7000
999                            Zimbabwe           38.7000

[1000 rows x 2 columns]