In [2]:
import os
import pandas as pd

In [3]:
# All of our CSVs

# GDP / GDP per capita
gdp_df = pd.read_csv(os.path.join('..', 'data', 'eco-conserv-env-health.csv'))
# Land use
land_use_df = pd.read_csv(os.path.join('..', 'data', 'land-use-population.csv'))
# Water resources per area
resources_df = pd.read_csv(os.path.join('..', 'data', 'water-resources.csv'))
# Irrigation statistics
irrigation_df = pd.read_csv(os.path.join('..', 'data', 'water-use-irrigation.csv'))

### Check the formatting
Making sure everything is in the right column

In [4]:
gdp_df.head()

,Area,Area Id,Variable Name,Variable Id,Year,Value,Symbol,Md
0,Afghanistan,2.0,Gross Domestic Product (GDP),4112.0,1962.0,5.470000e+08,E,NaN
1,Afghanistan,2.0,GDP per capita,4458.0,1962.0,5.850000e+01,E,NaN
2,Algeria,4.0,Gross Domestic Product (GDP),4112.0,1962.0,2.000000e+09,E,NaN
3,Algeria,4.0,GDP per capita,4458.0,1962.0,1.712000e+02,E,NaN
4,Argentina,9.0,Gross Domestic Product (GDP),4112.0,1962.0,2.450000e+10,E,NaN

In [5]:
land_use_df.head()

,Area,Area Id,Variable Name,Variable Id,Year,Value,Symbol,Md
0,Afghanistan,2.0,Total area of the country,4100.0,1962.0,65286.00,E,NaN
1,Afghanistan,2.0,Arable land area,4101.0,1962.0,7700.00,E,NaN
2,Afghanistan,2.0,Permanent crops area,4102.0,1962.0,60.00,E,NaN
3,Afghanistan,2.0,Cultivated area (arable land + permanent crops),4103.0,1962.0,7760.00,E,NaN
4,Afghanistan,2.0,% of total country area cultivated,4470.0,1962.0,11.89,E,NaN

In [6]:
resources_df.head()

,Area,Area Id,Variable Name,Variable Id,Year,Value,Symbol,Md
0,Afghanistan,2.0,Long-term average annual precipitation in depth,4151.0,1962.0,327.00,NaN,NaN
1,Afghanistan,2.0,Long-term average annual precipitation in volume,4150.0,1962.0,213.50,K,NaN
2,Afghanistan,2.0,Surface water produced internally,4155.0,1962.0,37.50,K,NaN
3,Afghanistan,2.0,Groundwater produced internally,4154.0,1962.0,10.65,NaN,NaN
4,Afghanistan,2.0,Overlap between surface water and groundwater,4156.0,1962.0,1.00,K,NaN

In [7]:
irrigation_df.head()

,Area,Area Id,Variable Name,Variable Id,Year,Value,Symbol,Md
0,Afghanistan,2.0,Environmental Flow Requirements,4549.0,1962.0,18.890,E,NaN
1,Albania,3.0,Environmental Flow Requirements,4549.0,1962.0,9.932,E,NaN
2,Algeria,4.0,Environmental Flow Requirements,4549.0,1962.0,2.794,E,NaN
3,Algeria,4.0,Irrigation potential,4307.0,1962.0,1300.000,NaN,NaN
4,Angola,7.0,Environmental Flow Requirements,4549.0,1962.0,44.490,E,NaN

### Make Pivot Tables of all the Data

In [8]:
gdp_df.columns

Index(['Area', 'Area Id', 'Variable Name', 'Variable Id', 'Year', 'Value',
       'Symbol', 'Md'],
      dtype='object')

In [9]:
gdp_table = gdp_df.pivot_table(index=['Area', 'Year', 'Area Id'], columns=['Variable Name', 'Variable Id'], values=['Value'])

In [10]:
gdp_table

                                                                 Value  \
Variable Name              % of area equipped for irrigation salinized
Variable Id                                                     4445.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                             NaN
            1967.0 2.0                                             NaN
            1972.0 2.0                                             NaN
            1977.0 2.0                                             NaN
            1981.0 2.0                                             NaN
            1990.0 2.0                                             NaN
            1992.0 2.0                                             NaN
            1997.0 2.0                                             NaN
            2000.0 2.0                                             NaN
            2002.0 2.0                                             NaN
            2005.0 2.0                                             NaN
            2007.0 2.0                                             NaN
            2010.0 2.0                                             NaN
            2012.0 2.0                                             NaN
            2013.0 2.0                                             NaN
            2014.0 2.0                                             NaN
            2015.0 2.0                                             NaN
            2016.0 2.0                                             NaN
Albania     1982.0 3.0                                             NaN
            1987.0 3.0                                             NaN
            1990.0 3.0                                             NaN
            1992.0 3.0                                           3.023
            1997.0 3.0                                             NaN
            2000.0 3.0                                             NaN
            2002.0 3.0                                             NaN
            2005.0 3.0                                             NaN
            2007.0 3.0                                             NaN
            2010.0 3.0                                             NaN
            2012.0 3.0                                             NaN
            2013.0 3.0                                             NaN
...                                                                ...
Zambia      2002.0 251.0                                           NaN
            2005.0 251.0                                           NaN
            2007.0 251.0                                           NaN
            2010.0 251.0                                           NaN
            2011.0 251.0                                           NaN
            2012.0 251.0                                           NaN
            2013.0 251.0                                           NaN
            2014.0 251.0                                           NaN
            2015.0 251.0                                           NaN
            2016.0 251.0                                           NaN
Zimbabwe    1962.0 181.0                                           NaN
            1967.0 181.0                                           NaN
            1972.0 181.0                                           NaN
            1977.0 181.0                                           NaN
            1982.0 181.0                                           NaN
            1987.0 181.0                                           NaN
            1990.0 181.0                                           NaN
            1992.0 181.0                                           NaN
            1997.0 181.0                                           NaN
            2000.0 181.0                                           NaN
            2002.0 181.0                                           NaN
            2005.0 181.0                                           NaN
            2007.0 181.0                                           NaN
            2010.0 181.0                                           NaN
            2011.0 181.0                                           NaN
            2012.0 181.0                                           NaN
            2013.0 181.0                                           NaN
            2014.0 181.0                                           NaN
            2015.0 181.0                                           NaN
            2016.0 181.0                                           NaN

                                                             \
Variable Name              Agriculture, value added (% GDP)
Variable Id                                          4113.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                  NaN
            1967.0 2.0                                  NaN
            1972.0 2.0                                  NaN
            1977.0 2.0                                  NaN
            1981.0 2.0                                  NaN
            1990.0 2.0                                  NaN
            1992.0 2.0                                  NaN
            1997.0 2.0                                  NaN
            2000.0 2.0                                  NaN
            2002.0 2.0                               38.470
            2005.0 2.0                                  NaN
            2007.0 2.0                               30.620
            2010.0 2.0                                  NaN
            2012.0 2.0                               24.600
            2013.0 2.0                                  NaN
            2014.0 2.0                                  NaN
            2015.0 2.0                               22.600
            2016.0 2.0                                  NaN
Albania     1982.0 3.0                               31.700
            1987.0 3.0                               33.200
            1990.0 3.0                                  NaN
            1992.0 3.0                               51.640
            1997.0 3.0                               32.700
            2000.0 3.0                                  NaN
            2002.0 3.0                               24.240
            2005.0 3.0                                  NaN
            2007.0 3.0                               19.870
            2010.0 3.0                                  NaN
            2012.0 3.0                               21.660
            2013.0 3.0                                  NaN
...                                                     ...
Zambia      2002.0 251.0                             17.270
            2005.0 251.0                                NaN
            2007.0 251.0                             13.230
            2010.0 251.0                                NaN
            2011.0 251.0                                NaN
            2012.0 251.0                             10.140
            2013.0 251.0                                NaN
            2014.0 251.0                                NaN
            2015.0 251.0                              8.498
            2016.0 251.0                                NaN
Zimbabwe    1962.0 181.0                                NaN
            1967.0 181.0                             22.890
            1972.0 181.0                             19.650
            1977.0 181.0                             18.110
            1982.0 181.0                             16.120
            1987.0 181.0                             14.410
            1990.0 181.0                                NaN
            1992.0 181.0                              7.414
            1997.0 181.0                             18.930
            2000.0 181.0                                NaN
            2002.0 181.0                             14.030
            2005.0 181.0                                NaN
            2007.0 181.0                             21.600
            2010.0 181.0                                NaN
            2011.0 181.0                                NaN
            2012.0 181.0                             13.150
            2013.0 181.0                                NaN
            2014.0 181.0                                NaN
            2015.0 181.0                             12.530
            2016.0 181.0                                NaN

                                                         \
Variable Name              Area salinized by irrigation
Variable Id                                      4400.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                              NaN
            1967.0 2.0                              NaN
            1972.0 2.0                              NaN
            1977.0 2.0                              NaN
            1981.0 2.0                              NaN
            1990.0 2.0                              NaN
            1992.0 2.0                              NaN
            1997.0 2.0                              NaN
            2000.0 2.0                              NaN
            2002.0 2.0                              NaN
            2005.0 2.0                              NaN
            2007.0 2.0                              NaN
            2010.0 2.0                              NaN
            2012.0 2.0                              NaN
            2013.0 2.0                              NaN
            2014.0 2.0                              NaN
            2015.0 2.0                              NaN
            2016.0 2.0                              NaN
Albania     1982.0 3.0                              NaN
            1987.0 3.0                              NaN
            1990.0 3.0                              NaN
            1992.0 3.0                             12.0
            1997.0 3.0                              NaN
            2000.0 3.0                              NaN
            2002.0 3.0                              NaN
            2005.0 3.0                              NaN
            2007.0 3.0                              NaN
            2010.0 3.0                              NaN
            2012.0 3.0                              NaN
            2013.0 3.0                              NaN
...                                                 ...
Zambia      2002.0 251.0                            NaN
            2005.0 251.0                            NaN
            2007.0 251.0                            NaN
            2010.0 251.0                            NaN
            2011.0 251.0                            NaN
            2012.0 251.0                            NaN
            2013.0 251.0                            NaN
            2014.0 251.0                            NaN
            2015.0 251.0                            NaN
            2016.0 251.0                            NaN
Zimbabwe    1962.0 181.0                            NaN
            1967.0 181.0                            NaN
            1972.0 181.0                            NaN
            1977.0 181.0                            NaN
            1982.0 181.0                            NaN
            1987.0 181.0                            NaN
            1990.0 181.0                            NaN
            1992.0 181.0                            NaN
            1997.0 181.0                            NaN
            2000.0 181.0                            NaN
            2002.0 181.0                            NaN
            2005.0 181.0                            NaN
            2007.0 181.0                            NaN
            2010.0 181.0                            NaN
            2011.0 181.0                            NaN
            2012.0 181.0                            NaN
            2013.0 181.0                            NaN
            2014.0 181.0                            NaN
            2015.0 181.0                            NaN
            2016.0 181.0                            NaN

                                                           \
Variable Name              Area waterlogged by irrigation
Variable Id                                        4401.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                NaN
            1967.0 2.0                                NaN
            1972.0 2.0                                NaN
            1977.0 2.0                                NaN
            1981.0 2.0                                NaN
            1990.0 2.0                                NaN
            1992.0 2.0                                NaN
            1997.0 2.0                                NaN
            2000.0 2.0                                NaN
            2002.0 2.0                                NaN
            2005.0 2.0                                NaN
            2007.0 2.0                                NaN
            2010.0 2.0                                NaN
            2012.0 2.0                                NaN
            2013.0 2.0                                NaN
            2014.0 2.0                                NaN
            2015.0 2.0                                NaN
            2016.0 2.0                                NaN
Albania     1982.0 3.0                                NaN
            1987.0 3.0                                NaN
            1990.0 3.0                                NaN
            1992.0 3.0                                NaN
            1997.0 3.0                                NaN
            2000.0 3.0                                NaN
            2002.0 3.0                                NaN
            2005.0 3.0                                NaN
            2007.0 3.0                                NaN
            2010.0 3.0                                NaN
            2012.0 3.0                                NaN
            2013.0 3.0                                NaN
...                                                   ...
Zambia      2002.0 251.0                              NaN
            2005.0 251.0                              NaN
            2007.0 251.0                              NaN
            2010.0 251.0                              NaN
            2011.0 251.0                              NaN
            2012.0 251.0                              NaN
            2013.0 251.0                              NaN
            2014.0 251.0                              NaN
            2015.0 251.0                              NaN
            2016.0 251.0                              NaN
Zimbabwe    1962.0 181.0                              NaN
            1967.0 181.0                              NaN
            1972.0 181.0                              NaN
            1977.0 181.0                              NaN
            1982.0 181.0                              NaN
            1987.0 181.0                              NaN
            1990.0 181.0                              NaN
            1992.0 181.0                              NaN
            1997.0 181.0                              NaN
            2000.0 181.0                              NaN
            2002.0 181.0                              NaN
            2005.0 181.0                              NaN
            2007.0 181.0                              NaN
            2010.0 181.0                              NaN
            2011.0 181.0                              NaN
            2012.0 181.0                              NaN
            2013.0 181.0                              NaN
            2014.0 181.0                              NaN
            2015.0 181.0                              NaN
            2016.0 181.0                              NaN

                                                          \
Variable Name              Conservation agriculture area
Variable Id                                       4454.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                               NaN
            1967.0 2.0                               NaN
            1972.0 2.0                               NaN
            1977.0 2.0                               NaN
            1981.0 2.0                               NaN
            1990.0 2.0                               NaN
            1992.0 2.0                               NaN
            1997.0 2.0                               NaN
            2000.0 2.0                               NaN
            2002.0 2.0                               NaN
            2005.0 2.0                               NaN
            2007.0 2.0                               NaN
            2010.0 2.0                               NaN
            2012.0 2.0                               NaN
            2013.0 2.0                               NaN
            2014.0 2.0                               NaN
            2015.0 2.0                               NaN
            2016.0 2.0                               NaN
Albania     1982.0 3.0                               NaN
            1987.0 3.0                               NaN
            1990.0 3.0                               NaN
            1992.0 3.0                               NaN
            1997.0 3.0                               NaN
            2000.0 3.0                               NaN
            2002.0 3.0                               NaN
            2005.0 3.0                               NaN
            2007.0 3.0                               NaN
            2010.0 3.0                               NaN
            2012.0 3.0                               NaN
            2013.0 3.0                               NaN
...                                                  ...
Zambia      2002.0 251.0                            40.0
            2005.0 251.0                             NaN
            2007.0 251.0                             NaN
            2010.0 251.0                             NaN
            2011.0 251.0                           200.0
            2012.0 251.0                             NaN
            2013.0 251.0                             NaN
            2014.0 251.0                             NaN
            2015.0 251.0                             NaN
            2016.0 251.0                             NaN
Zimbabwe    1962.0 181.0                             NaN
            1967.0 181.0                             NaN
            1972.0 181.0                             NaN
            1977.0 181.0                             NaN
            1982.0 181.0                             NaN
            1987.0 181.0                             NaN
            1990.0 181.0                             NaN
            1992.0 181.0                             NaN
            1997.0 181.0                             NaN
            2000.0 181.0                             NaN
            2002.0 181.0                             NaN
            2005.0 181.0                             NaN
            2007.0 181.0                             NaN
            2010.0 181.0                             NaN
            2011.0 181.0                           139.3
            2012.0 181.0                             NaN
            2013.0 181.0                           332.0
            2014.0 181.0                             NaN
            2015.0 181.0                             NaN
            2016.0 181.0                             NaN

                                                                                   \
Variable Name              Conservation agriculture area as % of arable land area
Variable Id                                                                4455.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                                    NaN
            1967.0 2.0                                                    NaN
            1972.0 2.0                                                    NaN

In [11]:
land_use_table = land_use_df.pivot_table(index=['Area', 'Year', 'Area Id'], columns=['Variable Name', 'Variable Id'], values=['Value'])

In [12]:
land_use_table.head()

                                                        Value  \
Variable Name              % of total country area cultivated
Variable Id                                            4470.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                  11.89
            1967.0 2.0                                  12.22
            1972.0 2.0                                  12.32
            1977.0 2.0                                  12.33
            1982.0 2.0                                  12.34

                                             \
Variable Name              Arable land area
Variable Id                          4101.0
Area        Year   Area Id
Afghanistan 1962.0 2.0               7700.0
            1967.0 2.0               7844.0
            1972.0 2.0               7910.0
            1977.0 2.0               7910.0
            1982.0 2.0               7910.0

                                                                            \
Variable Name              Cultivated area (arable land + permanent crops)
Variable Id                                                         4103.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                              7760.0
            1967.0 2.0                                              7979.0
            1972.0 2.0                                              8046.0
            1977.0 2.0                                              8050.0
            1982.0 2.0                                              8054.0

                                                                    \
Variable Name              Permanent crops area Population density
Variable Id                              4102.0             4107.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                     60.0              14.31
            1967.0 2.0                    135.0              15.88
            1972.0 2.0                    136.0              17.95
            1977.0 2.0                    140.0              20.00
            1982.0 2.0                    144.0              19.40

                                                                       \
Variable Name              Rural population Total area of the country
Variable Id                          4105.0                    4100.0
Area        Year   Area Id
Afghanistan 1962.0 2.0               8539.0                   65286.0
            1967.0 2.0               9303.0                   65286.0
            1972.0 2.0              10283.0                   65286.0
            1977.0 2.0              11168.0                   65286.0
            1982.0 2.0              10622.0                   65286.0


Variable Name              Total population Urban population
Variable Id                          4104.0           4106.0
Area        Year   Area Id
Afghanistan 1962.0 2.0               9344.0            804.9
            1967.0 2.0              10369.0           1066.0
            1972.0 2.0              11717.0           1434.0
            1977.0 2.0              13056.0           1888.0
            1982.0 2.0              12667.0           2045.0

In [13]:
resources_table = resources_df.pivot_table(index=['Area', 'Year', 'Area Id'], columns=['Variable Name', 'Variable Id'], values=['Value'])

In [14]:
resources_table.head()

                                             Value                   \
Variable Name              Dam capacity per capita Dependency ratio
Variable Id                                 4471.0           4192.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                       128.4              NaN
            1962.0 2.0                         NaN            28.72
            1964.0 2.0                         NaN              NaN
            1965.0 2.0                       115.7              NaN
            1967.0 2.0                         NaN            28.72

                                                                           \
Variable Name              Exploitable: irregular renewable surface water
Variable Id                                                        4194.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                                                NaN
            1962.0 2.0                                                NaN
            1964.0 2.0                                                NaN
            1965.0 2.0                                                NaN
            1967.0 2.0                                                NaN

                                                                       \
Variable Name              Exploitable: regular renewable groundwater
Variable Id                                                    4195.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                                            NaN
            1962.0 2.0                                            NaN
            1964.0 2.0                                            NaN
            1965.0 2.0                                            NaN
            1967.0 2.0                                            NaN

                                                                         \
Variable Name              Exploitable: regular renewable surface water
Variable Id                                                      4193.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                                              NaN
            1962.0 2.0                                              NaN
            1964.0 2.0                                              NaN
            1965.0 2.0                                              NaN
            1967.0 2.0                                              NaN

                                                                       \
Variable Name              Exploitable: total renewable surface water
Variable Id                                                    4509.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                                            NaN
            1962.0 2.0                                            NaN
            1964.0 2.0                                            NaN
            1965.0 2.0                                            NaN
            1967.0 2.0                                            NaN

                                                            \
Variable Name              Groundwater produced internally
Variable Id                                         4154.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                                 NaN
            1962.0 2.0                               10.65
            1964.0 2.0                                 NaN
            1965.0 2.0                                 NaN
            1967.0 2.0                               10.65

                                                          \
Variable Name              Groundwater: accounted inflow
Variable Id                                       4452.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                               NaN
            1962.0 2.0                               0.0
            1964.0 2.0                               NaN
            1965.0 2.0                               NaN
            1967.0 2.0                               0.0

                                                                              \
Variable Name              Groundwater: accounted outflow to other countries
Variable Id                                                           4453.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                                                   NaN
            1962.0 2.0                                                   NaN
            1964.0 2.0                                                   NaN
            1965.0 2.0                                                   NaN
            1967.0 2.0                                                   NaN

                                                                      \
Variable Name              Groundwater: entering the country (total)
Variable Id                                                   4177.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                                           NaN
            1962.0 2.0                                           0.0
            1964.0 2.0                                           NaN
            1965.0 2.0                                           NaN
            1967.0 2.0                                           0.0

                                              ...                     \
Variable Name                                 ...
Variable Id                                   ...
Area        Year   Area Id                    ...
Afghanistan 1960.0 2.0                        ...
            1962.0 2.0                        ...
            1964.0 2.0                        ...
            1965.0 2.0                        ...
            1967.0 2.0                        ...

                                                                       \
Variable Name              Surface water: total flow of border rivers
Variable Id                                                    4165.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                                            NaN
            1962.0 2.0                                           33.4
            1964.0 2.0                                            NaN
            1965.0 2.0                                            NaN
            1967.0 2.0                                           33.4

                                               \
Variable Name              Total dam capacity
Variable Id                            4197.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                    1.2
            1962.0 2.0                    NaN
            1964.0 2.0                    NaN
            1965.0 2.0                    1.2
            1967.0 2.0                    NaN

                                                              \
Variable Name              Total exploitable water resources
Variable Id                                           4196.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                                   NaN
            1962.0 2.0                                   NaN
            1964.0 2.0                                   NaN
            1965.0 2.0                                   NaN
            1967.0 2.0                                   NaN

                                                                            \
Variable Name              Total internal renewable water resources (IRWR)
Variable Id                                                         4157.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                                                 NaN
            1962.0 2.0                                               47.15
            1964.0 2.0                                                 NaN
            1965.0 2.0                                                 NaN
            1967.0 2.0                                               47.15

                                                                                \
Variable Name              Total internal renewable water resources per capita
Variable Id                                                             4158.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                                                    NaN
            1962.0 2.0                                                 5046.0
            1964.0 2.0                                                    NaN
            1965.0 2.0                                                    NaN
            1967.0 2.0                                                 4547.0

                                                        \
Variable Name              Total renewable groundwater
Variable Id                                     4187.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                             NaN
            1962.0 2.0                           10.65
            1964.0 2.0                             NaN
            1965.0 2.0                             NaN
            1967.0 2.0                           10.65

                                                          \
Variable Name              Total renewable surface water
Variable Id                                       4185.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                               NaN
            1962.0 2.0                             55.68
            1964.0 2.0                               NaN
            1965.0 2.0                               NaN
            1967.0 2.0                             55.68

                                                            \
Variable Name              Total renewable water resources
Variable Id                                         4188.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                                 NaN
            1962.0 2.0                               65.33
            1964.0 2.0                                 NaN
            1965.0 2.0                                 NaN
            1967.0 2.0                               65.33

                                                                       \
Variable Name              Total renewable water resources per capita
Variable Id                                                    4190.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                                            NaN
            1962.0 2.0                                         6992.0
            1964.0 2.0                                            NaN
            1965.0 2.0                                            NaN
            1967.0 2.0                                         6301.0


Variable Name              Water resources: total external renewable
Variable Id                                                   4182.0
Area        Year   Area Id
Afghanistan 1960.0 2.0                                           NaN
            1962.0 2.0                                         18.18
            1964.0 2.0                                           NaN
            1965.0 2.0                                           NaN
            1967.0 2.0                                         18.18

[5 rows x 40 columns]

In [15]:
irrigation_table = irrigation_df.pivot_table(index=['Area', 'Year', 'Area Id'], columns=['Variable Name', 'Variable Id'], values=['Value'])

In [16]:
irrigation_table.head()

                                                                                  Value  \
Variable Name              % of agricultural water managed area equipped for irrigation
Variable Id                                                                      4319.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                                    NaN
            1963.0 2.0                                                    NaN
            1967.0 2.0                                                  100.0
            1972.0 2.0                                                    NaN
            1975.0 2.0                                                    NaN

                                                                                              \
Variable Name              % of area equipped for full control irrigation actually irrigated
Variable Id                                                                           4463.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                                    NaN
            1963.0 2.0                                                    NaN
            1967.0 2.0                                                    NaN
            1972.0 2.0                                                    NaN
            1975.0 2.0                                                    NaN

                                                                                                             \
Variable Name              % of area equipped for irrigation by direct use of  treated municipal wastewater
Variable Id                                                                                          4466.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                                    NaN
            1963.0 2.0                                                    NaN
            1967.0 2.0                                                    NaN
            1972.0 2.0                                                    NaN
            1975.0 2.0                                                    NaN

                                                                                                                \
Variable Name              % of area equipped for irrigation by direct use of non-treated municipal wastewater
Variable Id                                                                                             4514.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                                    NaN
            1963.0 2.0                                                    NaN
            1967.0 2.0                                                    NaN
            1972.0 2.0                                                    NaN
            1975.0 2.0                                                    NaN

                                                                             \
Variable Name              % of area equipped for irrigation by groundwater
Variable Id                                                          4323.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                                  NaN
            1963.0 2.0                                                  NaN
            1967.0 2.0                                                 15.4
            1972.0 2.0                                                  NaN
            1975.0 2.0                                                  NaN

                                                                                                     \
Variable Name              % of area equipped for irrigation by mixed surface water and groundwater
Variable Id                                                                                  4325.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                                    NaN
            1963.0 2.0                                                    NaN
            1967.0 2.0                                                    0.0
            1972.0 2.0                                                    NaN
            1975.0 2.0                                                    NaN

                                                                               \
Variable Name              % of area equipped for irrigation by surface water
Variable Id                                                            4324.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                                    NaN
            1963.0 2.0                                                    NaN
            1967.0 2.0                                                   84.6
            1972.0 2.0                                                    NaN
            1975.0 2.0                                                    NaN

                                                                      \
Variable Name              % of area equipped for irrigation drained
Variable Id                                                   4446.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                           NaN
            1963.0 2.0                                           NaN
            1967.0 2.0                                           NaN
            1972.0 2.0                                           NaN
            1975.0 2.0                                           NaN

                                                                              \
Variable Name              % of area equipped for irrigation power irrigated
Variable Id                                                           4327.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                                   NaN
            1963.0 2.0                                                   NaN
            1967.0 2.0                                                   NaN
            1972.0 2.0                                                   NaN
            1975.0 2.0                                                   NaN

                                                                              \
Variable Name              % of irrigation potential equipped for irrigation
Variable Id                                                           4330.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                                   NaN
            1963.0 2.0                                                   NaN
            1967.0 2.0                                                   NaN
            1972.0 2.0                                                   NaN
            1975.0 2.0                                                   NaN

                                                      ...                             \
Variable Name                                         ...
Variable Id                                           ...
Area        Year   Area Id                            ...
Afghanistan 1962.0 2.0                                ...
            1963.0 2.0                                ...
            1967.0 2.0                                ...
            1972.0 2.0                                ...
            1975.0 2.0                                ...

                                                          \
Variable Name              Produced municipal wastewater
Variable Id                                       4269.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                               NaN
            1963.0 2.0                               NaN
            1967.0 2.0                               NaN
            1972.0 2.0                               NaN
            1975.0 2.0                               NaN

                                                    \
Variable Name              SDG 6.4.2. Water Stress
Variable Id                                 4550.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                         NaN
            1963.0 2.0                         NaN
            1967.0 2.0                         NaN
            1972.0 2.0                         NaN
            1975.0 2.0                       23.04

                                                                  \
Variable Name              Total agricultural water managed area
Variable Id                                               4317.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                       NaN
            1963.0 2.0                                       NaN
            1967.0 2.0                                    2715.0
            1972.0 2.0                                       NaN
            1975.0 2.0                                       NaN

                                                          \
Variable Name              Total cultivated area drained
Variable Id                                       4300.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                               NaN
            1963.0 2.0                               NaN
            1967.0 2.0                               NaN
            1972.0 2.0                               NaN
            1975.0 2.0                               NaN

                                                                                \
Variable Name              Total freshwater withdrawal (primary and secondary)
Variable Id                                                             4263.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                                    NaN
            1963.0 2.0                                                    NaN
            1967.0 2.0                                                    NaN
            1972.0 2.0                                                    NaN
            1975.0 2.0                                                   10.7

                                                                                          \
Variable Name              Total harvested irrigated crop area (full control irrigation)
Variable Id                                                                       4379.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                                    NaN
            1963.0 2.0                                                    NaN
            1967.0 2.0                                                    NaN
            1972.0 2.0                                                    NaN
            1975.0 2.0                                                    NaN

                                                   \
Variable Name              Total water withdrawal
Variable Id                                4253.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                        NaN
            1963.0 2.0                        NaN
            1967.0 2.0                        NaN
            1972.0 2.0                        NaN
            1975.0 2.0                       10.7

                                                              \
Variable Name              Total water withdrawal per capita
Variable Id                                           4257.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                   NaN
            1963.0 2.0                                   NaN
            1967.0 2.0                                   NaN
            1972.0 2.0                                   NaN
            1975.0 2.0                                 819.5

                                                         \
Variable Name              Treated municipal wastewater
Variable Id                                      4270.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                              NaN
            1963.0 2.0                              NaN
            1967.0 2.0                              NaN
            1972.0 2.0                              NaN
            1975.0 2.0                              NaN


Variable Name              Treated municipal wastewater discharged (secondary water)
Variable Id                                                                   4510.0
Area        Year   Area Id
Afghanistan 1962.0 2.0                                                    NaN
            1963.0 2.0                                                    NaN
            1967.0 2.0                                                    NaN
            1972.0 2.0                                                    NaN
            1975.0 2.0                                                    NaN

[5 rows x 114 columns]

In [17]:
gdp_table.to_csv(os.path.join('..', 'data', 'gdp_table'))
resources_table.to_csv(os.path.join('..', 'data', 'resources_table'))
gdp_table.to_csv(os.path.join('..', 'data', 'gdp_table'))
gdp_table.to_csv(os.path.join('..', 'data', 'gdp_table'))